* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1a1a2e;
    color: #f44336ac;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

nav {
    background: #1a1a1a;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #f44336ac;
    
}

nav a {
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: #bdbdbd;
}

nav a:hover {
    background: #4d4d4d;
    border-radius: 4px;
}

.hero {
    background-image: url('../images/Visithero.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero-content p {
    font-size: 1.2rem;
}